%nav.navbar
  %li 新規登録(無料)
  %li ログイン

%h1 読書メーター
%h2 読んだ本を記録して、新しい本に出会おう
%p
  読書メーターは読んだページ数や冊数などの読書量をグラフにして読書記録をしたり、
  日本中の読書家さんたちとコミュニケーションができるサービスです。
  %a 詳細

%img （図：グラフ）

%h3 新規登録はこちらから！

%form
  %input お名前・ニックネーム
  %input パスワード(半角英数4文字以上)
  %input メールアドレス
  %input 男性
  %input 女性
  %input 今すぐ登録(無料)

%p Google・Facebook・Twitterのアカウントを使うと、すぐに新規登録 or ログインできます。

%a （図：Googleで新規登録）
%a （図：facebookで新規登録）
%a （図：twitterで新規登録）

99,999,999 件の感想・レビュー

%h1 Top#index
%p Find me in app/views/top/index.html.haml
%h2 トップページです


